:root {
  --display-color: #f5f6f8;
  --border-color: #edeef1;
  --button-text-color: #707070;
}

body {
  font-size: 50px;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  margin: 1em;
}

#calculator {
  margin: 0 auto;
  border: 1px solid var(--border-color);
  min-width: 250px;
  max-width: 300px;
  display: grid;
}

#display {
  text-align: right;
  background: var(--display-color);
  padding: 0 30px;
}

#buttons {
  /* display: grid; */
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

/*  Button Style Reset 
    Button Pal: https://codepen.io/andybelldesign/pen/Vxpjvo
    https://css-tricks.com/overriding-default-button-styles/
*/
button {
  font-size: 50px;
  display: inline-block;
  background-color: white;
  border: none;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: #0053ba;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}